@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-mocha-base;
  }
  body {
    @apply text-mocha-text;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
